<!DOCTYPE html>
<html lang="ja">
  <head>
    <mata charset="utf-8">
    <link rel="stylesheet" href="/css/memo.css">
    <title>メモアプリ</title>
  </head>
  <body>
    <h1>メモアプリ</h1>
    <%= yield %>
  </body>
</html>