<form action="/memos" method="post">
    <label for="title">タイトル</label>
    <input type="title" name="title" id="title"><br><br>

    <label for="description">詳細</label>
    <textarea name="description" id="description" cols="30" rows="5"></textarea><br><br>

    <input type="submit" value="追加">
</form>
