<form action="/memos" method="post">
    <label for="title">タイトル</label><br>
    <input type="text" name="title" id="title"><br><br>

    <label for="description">詳細</label><br>
    <textarea name="description" id="description" cols="30" rows="5"></textarea><br><br>

    <input type="submit" value="追加">
</form>
