<h2><%= escape_text(@memo['title']) %></h2>
<p><%= escape_text(@memo['description']) %></p>

<a href="/memos/<%= @memo['id'] %>/edit">変更</a>
<form action="/memos/<%= @memo['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="submit" value="削除">
</form>
